* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #5c87a4;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333333;
    color: #ffffff; 
    
} 



header h1 {
    display: inline-block;
    font-size: 40px;
    padding-left: 10px;
}


header article {
    padding-top: 11px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

header article ul {
    list-style-type: none;
}

header article ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

sidebar {
    height: 100%;
    width: 16%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
    justify-content: right; 
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  } 

.vl1 {
    border-right: 4px solid #333333;;
    padding-right: 4px;
    height: 300px;
    text-align:right;
    text-indent: 62px;
    font-size: 20px;
    position: absolute;
    flex: 1;
}  

.vl2 {
    margin-top: 320px;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 4px;
    border-right: 4px solid #333333;;
    height: 600px;
    text-align: right;
    text-indent: 62px;
    font-size: 20px;
    position: absolute;
    flex: 1;
}  


.vl3 {
    margin-top: 940px;
    padding-top: 20px;
    padding-right: 4px;
    border-right: 4px solid #333333;;
    height: 200px;
    text-align: right;
    text-indent: 38px;
    font-size: 20px;
    position: absolute;
    flex: 1;
}  


main {
    width: 80%;
    display: inline;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 50px;
    float:right;   
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 14px;
}


.about-me-section {
    margin-bottom: 20px;
    margin-left:  20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    flex: 4;
    
}

.my-work-section {
    flex: 8;
    margin-bottom: 20px;
    margin-left:  20px;
    padding: 50px;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}


.projects {
    padding: 10px;
    display: grid;
    grid-template-columns: 500px 400px;
    grid: 100px;
    gap: 10px;
    justify-content: center;
  }


.projects div {
    border-style: solid;
    border-width: 4px;
    border-color: #333333;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
  } 

.card1 {
    grid-row: 1 / span 2;
    height: 500px;
}

.card2 {
    height: 245px;
}

.card3 {
    height: 245px;
}

.projects div img {
    width: 90%;
    height: 90%;
    padding: 20px
}



.contact-me-section {
    flex: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:  20px;
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.contact-me-section ul {
    list-style-type: none;
    text-align: left;
}

.contact-me-section ul li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    text-decoration: underline;
    font-size: 20px;
    
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

